* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

:root {
    --font-primary: 'Inter', sans-serif;
    --font-content: 'Comfortaa', cursive;
    --font-secondary: 'Outfit', sans-serif;
}

/* @media (prefers-color-scheme: dark){
    :root {
        --color-primary: #24272C;
        --bright: #131920;
        --off-bright: #131920;
        --color-secondary: #131920;
        --font--color-secondary: #d7dce2;
        --font--color-primary: #d7dce2;
        --font-btn-primary: #eff6ff;
        --font-btn-hover: #0072ff;
        filter: grayscale(0.2);
        -webkit-filter: grayscale(0.2);
    }

    .btn-primary:hover{
        background-color: transparent;
        color: var(--font--color-secondary);
        border: 2px solid var(--color-primary);
    }
} */

@media (prefers-color-scheme: light){
    :root {
        --color-primary: #0072ff;
        --bright: #ffffff;
        --off-bright: #eff6ff;
        --color-secondary: #131920;
        --font--color-primary: #131920;
        --font--color-secondary: #ffffff;
        --font-btn-primary: #eff6ff;
        --font-btn-hover: #0072ff;
    }

    .btn-primary:hover{
        background-color: transparent;
        color: var(--font-btn-hover);
        border: 2px solid var(--color-primary);
    }
}

.btn-primary{
    background-color: var(--color-primary);
    color: var(--font-btn-primary);
    border: 2px solid var(--color-primary);
    width: fit-content;
    height: fit-content;
    font-weight: 500;
}

a, a:link, a:visited {
    text-decoration: none;
}

body{
    background-color: var(--bright);
}

/* Mobile View */
@media only screen and (max-width: 479px){
    .wrapper > div{
        padding-top: calc(100vw / 6);
        scroll-snap-align: start;
    }

    .section{
        width: 100vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

    .dbox{
        background-color: var(--off-bright);
        width: 80vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-secondary);
        overflow: hidden;
        border-radius: 2vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
    }

    .dbox h1{
        font-size: 5vw;
        text-align: center;
    }

    .btn-primary{
        background-color: var(--color-primary);
        color: var(--font-btn-primary);
        border: 2px solid var(--color-primary);
        width: fit-content;
        height: fit-content;
        font-weight: 500;
        padding: 1vw 2vw;
        border-radius: 4vw;
        -webkit-border-radius: 4vw;
        -moz-border-radius: 4vw;
        -ms-border-radius: 4vw;
        -o-border-radius: 4vw;
        font-size: 3.5vw;
}

    .dbox a{
        margin-top: 5vw;
        font-family: var(--font-secondary);
        cursor: pointer;
        display: block;
    }

    #timestamp{
        border: none;
        outline: none;
        background-color: var(--bright);
        width: 70vw;
        height: 10vw;
        font-size: 2.8vw;
        text-align: center;
        margin-top: 2vw;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
    }

    #windows{
        display: none;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: #008ad8;
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 47vh 0 0 0;
    }

    #windows img{
        width: 6vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #windows p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #windows .warn{
        position: absolute;
        bottom: 10vh;
        left: 23vw;
    }

    #Android{
        display: none;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bright);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    #Android img{
        width: 40vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #Android p{
        display: flex;
        padding-bottom: 0.8vw;
        font-weight: 800;
        justify-content: center;
        align-items: center;
    }

    #Android .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-primary);
    }

    #Android img#androidLogo{
        width: 100vw;
        padding: 0 34vw;
        background-color: var(--bright);
        z-index: 5;
        margin: 0;
    }

    #iOS{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secondary);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 47vh 0 0 0;
    }

    #iOS img{
        width: 16vw;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #iOS p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #iOS .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-secondary);
    }

    #iOSvideo{
        width: 0;
        height: 0;
        display: none;
    }

    #Linux{
        display: none;
    }
}

/* Tablet View */
@media only screen and (min-width: 480px) and (max-width: 1023px){
    .wrapper > div{
        padding-top: 8vw;
        scroll-snap-align: start;
    }

    .section{
        width: 100vw;
        height: 80vh;
        display: flex;
        align-items: center;
        justify-content: center;
}

    .dbox{
        background-color: var(--off-bright);
        width: 80vw;
        height: 60vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-secondary);
        overflow: hidden;
        border-radius: 2vw;
        -webkit-border-radius: 2vw;
        -moz-border-radius: 2vw;
        -ms-border-radius: 2vw;
        -o-border-radius: 2vw;
    }

    .dbox h1{
        font-size: 4vw;
    }

    .btn-primary{
        background-color: var(--color-primary);
        color: var(--font-btn-primary);
        border: 2px solid var(--color-primary);
        width: fit-content;
        height: fit-content;
        font-weight: 500;
        padding: 1vw 2vw;
        border-radius: 4vw;
        -webkit-border-radius: 4vw;
        -moz-border-radius: 4vw;
        -ms-border-radius: 4vw;
        -o-border-radius: 4vw;
        font-size: 2.4vw;
}

    .dbox a{
        margin-top: 5vw;
        font-family: var(--font-secondary);
        cursor: pointer;
        display: block;
    }

    #timestamp{
        border: none;
        outline: none;
        background-color: var(--bright);
        width: 60vw;
        height: 8vw;
        font-size: 2.2vw;
        text-align: center;
        margin-top: 2vw;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
    }

    #windows{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: #008ad8;
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 3.2vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 47vh 0 0 0;
    }

    #windows img{
        width: 6vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #windows p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #windows .warn{
        position: absolute;
        bottom: 10vh;
        left: 28.43vw;
    }

    #Android{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bright);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    #Android img{
        width: 20vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #Android p{
        display: flex;
        padding-bottom: 0.8vw;
        font-weight: 800;
        justify-content: center;
        align-items: center;
    }

    #Android .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-primary);
    }

    #Android img.warn{
        width: 100vw;
        padding: 0 40vw;
        background-color: var(--bright);
        z-index: 5;
        margin: 0;
    }

    #iOS{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secondary);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    #iOS img{
        width: 10vw;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #iOS p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #iOS .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-secondary);
    }

    #iOSvideo{
        width: 0;
        height: 0;
        display: none;
    }

    #Linux{
        display: none;
    }
}

/* Laptop View */
@media only screen and (min-width: 1024px){
    .wrapper > div{
        padding-top: 3.5vw;
        scroll-snap-align: start;
    }

    .section{
        width: 100vw;
        height: 40vw;
        display: flex;
        align-items: center;
        justify-content: center;
}

    .dbox{
        background-color: var(--off-bright);
        width: 80vw;
        height: 20vw;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-family: var(--font-secondary);
        overflow: hidden;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
    }

    .dbox a{
        margin-top: 1vw;
        font-family: var(--font-secondary);
        cursor: pointer;
    }

    #timestamp{
        border: none;
        outline: none;
        background-color: var(--bright);
        width: 24vw;
        height: 2vw;
        font-size: 0.8vw;
        text-align: center;
        margin-top: 2vw;
        border-radius: 0.5vw;
        -webkit-border-radius: 0.5vw;
        -moz-border-radius: 0.5vw;
        -ms-border-radius: 0.5vw;
        -o-border-radius: 0.5vw;
    }

    #windows{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -10;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: #008ad8;
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 1.3vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        padding: 47vh 0 0 0;
    }

    #windows img{
        width: 2.5vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #windows p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #windows .warn{
        position: absolute;
        bottom: 10vh;
        left: 41.24vw;
    }

    #Android{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--bright);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 1.8vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    #Android img{
        width: 10vw;
        user-drag: none;  
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #Android p{
        display: flex;
        padding-bottom: 0.8vw;
        font-weight: 800;
        justify-content: center;
        align-items: center;
    }

    #Android .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-primary);
    }

    #Android img.warn{
        width: 100vw;
        padding: 0 45vw;
        background-color: var(--bright);
        z-index: 5;
        margin: 0;
    }

    #iOS{
        display: block;
        cursor: default;
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        position: absolute;
        top: 0;
        z-index: -30;
        opacity: 0;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-secondary);
        font-family: Segoe UI Light, Segoe UI, Arial;
        color: var(--bright);
        font-size: 4vw;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        padding: 0;
    }

    #iOS img{
        width: 4vw;
        user-drag: none;
        user-select: none;
        -moz-user-select: none;
        -webkit-user-drag: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        display: block;
        margin: 0 auto 2vw;
    }

    #iOS p{
        display: flex;
        padding-bottom: 0.5vw;
        justify-content: center;
        align-items: center;
    }

    #iOS .warn{
        position: absolute;
        text-align: center;
        width: 100vw;
        bottom: 10vh;
        left: 0;
        color: var(--font--color-secondary);
    }

    #iOSvideo{
        width: 0;
        height: 0;
        display: none;
    }

    .loading{
        width: 10vw;
        height: 0.4vw;
        border: 1px solid #ffffff;
        border-radius: 1vw;
        background-color: transparent;
        display: block;
        -webkit-border-radius: 1vw;
        -moz-border-radius: 1vw;
        -ms-border-radius: 1vw;
        -o-border-radius: 1vw;
        position: fixed;
        bottom: 10vw;
        left: 45vw;
        overflow: hidden;
    }

    .bar{
        background-color: #ffffff;
        position: absolute;
        left: -100%;
        width: inherit;
        height: inherit;
        border-radius: 1vw;
        -webkit-border-radius: 1vw;
        -moz-border-radius: 1vw;
        -ms-border-radius: 1vw;
        -o-border-radius: 1vw;
}

    #Linux{
        display: none;
    }
}